<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav th:fragment="navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Posts</a></li>
            <li><a href="#">About</a></li>
            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                </form>
            </li>
        </ul>
    </nav>

    <footer th:fragment="footer">
        This is the footer.
    </footer>

</body>
</html>